body {
  padding: 50px 0;
}

.navbar {
  background: #FEF800;
}

.navbar .container {
  padding: 0 15px;
}

.navbar .logo img {
  margin: 10px 0;
}

.navbar-brand span {
  font-weight: 600;
}

.navbar-brand {
  color: #333;
}

.navbar-toggle {
  border-color: rgba(0, 0, 0, 0.5);
  margin-left: 15px;
}

.navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-collapse {
  border: none;
}

.navbar-nav > .active > a {
  background-color: transparent;
  margin-bottom: -3px;
}

.navbar-nav > .active {
  border-bottom: 3px solid #333;
}

.navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.alert-info {
  background-color: rgba(254, 248, 0, 0.4);
  border-color: #E6E000;
  color: #333;
}

.page-header {
  border-color: #cccccc;
}

.two-up:before,
.two-up:after {
  display: table;
  content: " ";
}

.two-up:after {
  clear: both;
}

.two-up {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.two-up:last-child {
  border-bottom: none;
}

.no-top {
  margin-top: 0;
}

section > h2 {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 15px;
}

code.inline {
  white-space: normal;
}

/* Fix problem with bootstrap making prism code blocks wrap */
.line-numbers {
  word-break: normal;
  word-wrap: normal;
}

.btn-primary {
  background-color: #FEF800;
  color: #333;
  border-color: #C2BD00;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #F2ED00;
  border-color: #C7C200;
  color: #333;
}

.example-button {
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 6.5px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.token {
  position: relative;
  z-index: 5;
}

.line-highlight {
  margin-top: -1px;
  left:;
  width: 400px;
  display: block;
  z-index: 1;
  background: rgba(254, 248, 0, 0.5);
  background: -moz-linear-gradient(left, rgba(254, 248, 0, 0), rgba(254, 248, 0, 0.5) 30%, rgba(254, 248, 0, 0));
  background: -webkit-linear-gradient(left, rgba(254, 248, 0, 0), rgba(254, 248, 0, 0.5) 30%, rgba(254, 248, 0, 0));
  background: -o-linear-gradient(left, rgba(254, 248, 0, 0), rgba(254, 248, 0, 0.5) 30%, rgba(254, 248, 0, 0));
  background: linear-gradient(left, rgba(254, 248, 0, 0), rgba(254, 248, 0, 0.5) 30%, rgba(254, 248, 0, 0));
}

.line-highlight:before {
  content: "";
  display: none;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f2f2f2;
}

h1 span {
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .example-button {
    top: 0;
  }
}

@media screen and (max-width: 470px) {
  .navbar .logo {
    display: none;
  }
}
